{% extends 'inventory/site_base.html' %}

{% block title %}Items{% endblock title %}

{% load staticfiles %}
{% block css %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'css/items.css' %}" />
{% endblock %}

{% block content %}

<div class="layout_frame flex row left-to-right wrap" id="itemsin_navigation"></div>

<div class="list" id="list__container--items_out">
  <div class="list__header header_out">
      <h3>Items Out:</h3>
  </div>
  <div class="list__content content_out">
      {% for record in items_out %}
      <div class="list__element" id="item_out-{{ record.id }}">
          <h4 class="out_element__toggle" item-id="out_{{ record.id }}">{{ record.item.name }}</h4>
          <div class="out_element__details" id="item--out_{{ record.id }}">
              <div>
                  <p class="item__desc">{{ record.item.description }}</p>
                  <p class="record__person">Checked out by: {{ record.person }}</p>
                  <p class="record__amount">Amount Out: {{ record.amount }}</p>
              </div>
              <div>
                  <button class="submit_checkin" value="{{ record.id }}">Checkin</button>
                  <button class="useup_item" value="{{ record.id }}">Use Up</button>
              </div>
          </div>
      </div>
      <div class="seperator"></div>
      {% endfor %}
  </div>
</div>

{% endblock content %}

{% block custom_javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/items.js' %}"></script>
<script type="text/javascript" src="{% static 'js/inventory/list_itemsin.js' %}"></script>
<script type="text/javascript">
  window.csrf = "{% csrf_token %}";
  $(document).ready(function() {
    window.rootCategoryIn = new ListItemsIn(null);
    window.rootCategoryIn.render();
  });
</script>
{% endblock custom_javascript %}