{% extends 'inventory/site_base.html' %}

{% block title %}Items{% endblock title %}

{% load staticfiles %}
{% block css %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'css/items.css' %}" />
{% endblock %}

{% block custom_javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/items.js' %}"></script>
{% endblock custom_javascript %}

{% block content %}

<div class="content">
    <div class="list__half" id="list__container--items_in">
        <div class="list__header">
            <h3>Items In</h3>
            {% if item_amount_error %}
            <p>Sorry, not enough</p>
            {% endif %}
        </div>
        <div class="list__content">
            {% for item in items_in %}
            <div class="list__element" id="item_in-{{ item.id }}">
                <h4 class="item__name">{{ item.name }}</h4>
                <div>
                    <form method="post" action="{% url 'inv:checkout' %}">
                        {% csrf_token %}
                        <p class="item__desc">{{ item.description }}</p>
                        <p class="item__amount">{{ item.amount_left }} of {{ item.total_amount }} left. Take out:
                            <input type="number" name="amount" id="{{ item.id }}--amount"></input>
                        </p>
                        <button name="item_id" type="submit" class="submit_checkout" value="{{ item.id }}">Checkout</button>
                    </form>
                </div>
            </div>
            <div class="seperator"></div>
            {% endfor %}
        </div>
    </div>
    {% if user.is_superuser %}
    <div class="list__half" id="list__container--items_out">
      <div class="list__header">
          <h3>Items Out</h3>
      </div>
      <div class="list__content">
          {% for record in items_out %}
          <div class="list__element" id="item_out-{{ item.id }}">
              <h4 class="item__name">{{ record.item.name }}</h4>
              <div>
                  <p class="item__desc">{{ record.item.description }}</p>
                  <p class="record__person">Checked out by: {{ record.person }}</p>
                  <p class="record__amount">Amount Out: {{ record.amount }}</p>
              </div>
              <div><button class="submit_checkin" value="{{ record.id }}">Checkin</button></div>
          </div>
          <div class="seperator"></div>
          {% endfor %}
      </div>
    </div>
    {% endif %}
</div>
{% endblock content %}