.list{
  width: 250px;
  height: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: #050505;
  overflow-y: scroll;
}

.list__header.category__element{
  background-color: #8c2254;
}

.list__header > h3{
  display: inline-block;
  margin: 0;
  color: #ffc82e;
}

.list__header > a{
  display: inline-block;
  text-align: right;
  float: right;
  color: #ffc82e;
}

.list__header > p{
  margin: 0 0 0 5px;
  display: inline-block;
  color: #ff4d4d;
}

.list__element form > p{
  word-wrap: break-word;
}

.list_search__input {
  width: 100%;
}

.seperator{
  padding: 1px 0 0 0;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #020202;
}
