<div class="list block bg-white shadow--big" id="{{ html_id }}">
    {% if category %}
    <div class="list__header bg-red padding--small no-margin" category-id="{{ category.pk }}">
        <h3 class="txt-yellow--light no-padding no-margin">{{ category.name }}</h3>
    </div>
    {% else %}
    <div class="list__header bg-red padding--small no-margin">
        <h3 class="txt-yellow--light no-padding no-margin">Root Categories</h3>
    </div>
    {% endif %}
    <div class="list__controls padding shadow">
        <input class="search-items-in list_search__input" name="search-items-in" placeholder="Search an item or category."></input>
    </div>
    <div class="">
        <div class="list-items-in"></div>
    </div>
</div>